* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #666;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    padding: 2em 0;
}

header h1 {
    font-size: 3em;
}

header span {
    font-size: 1.5em;
    color: #999;
}

html {
    font-size: 16px;
    margin-top: 3em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


    display: flex;
    flex-flow: row;
    justify-content: center;

    background: #333;
}

nav a {
    padding: .5em 2em;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background: #666;
}

section {
    margin: 1em 0;

    padding-top: 3em;
    min-height: 20em;
}

section > p {
    margin: 1em 0;
}

section ul {
    padding-left: 1.5em;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;

}

#products article {
    background: #ccc;
    padding: 1em
}

#products article img{
    width: 100%;
    border: 1px solid #333;
}


#slider ::selection {
    color: inherit;
    background: transparent;
  }
  
  #slider-frame {
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #333;
    position: relative;
  }
  
  #slider-prev,
  #slider-next {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 2px #000;
    transition: 0.5s;
    cursor: pointer;
  }
  
  #slider-prev:hover,
  #slider-next:hover {
    background: rgba(255,255,255,0.3);
  }
  
  #slider-prev {
    left: 0;
    flex-direction: row;
    align-items: center;
  }
  
  #slider-next {
    right: 0;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  #slider-frame {
    background: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  
    height: 25em;
  }
  
  #slider-frame [data-src] {
    display: none;
  }
  
  #slider-caption {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    text-align: center;
    transition: 0.5s;
  }
  
  #slider-caption.flash {
    transition: 0s;
    background: #ccc;
  }
 
  @media screen and (max-width: 750px) {

    nav {
      display: flex;
      flex-flow: column;
    }
    nav a {
      display: none;
    }
    nav::before {
      content: 'SHOW MENU';
      color: #fff;
      background: #000;
      font-weight: bold;
      padding: 0.5em 2em;
    }
    nav.open::before {
      content: 'HIDE MENU';
    }
    nav.open a {
      display: block;
    }
  
    nav ::selection {
      color: inherit;
      background: transparent;
    }
  }



footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em;
    text-align: center;
}